PunchesManagement/PunchesManagement/bin
PunchesManagement/PunchesManagement/obj
PunchesManagement/PunchesManagement.ApplicationServices/bin
PunchesManagement/PunchesManagement.ApplicationServices/obj
PunchesManagement/PunchesManagement.DataAccess/bin
PunchesManagement/PunchesManagement.DataAccess/obj
PunchesManagement/PunchesManagement.Tests/bin
PunchesManagement/PunchesManagement.Tests/obj
